@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    line-height: 1.5; 
}

.firstSection {
    background: linear-gradient(135deg, #5e9640, #1a3900);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.margins {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 92%;
}

.titulo {
    font-weight: 700;
    font-size: 48px; 
    line-height: 40px; 
    margin-bottom: 24px;
}

.slogan {
    line-height: 1.5;
}

.secondSection {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    background-color: white;
}

.titles {
    font-weight: 700;
    font-size: 24px; 
    line-height: 32px; 
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsivo */
    gap: 1rem;
}

.frame {
    text-align: center;
    padding: 20px; 
    background-color: rgba(249, 250, 251, 0.815);
    border-radius: 8px; 
}

.photo {
    justify-content: center;
    display: flex;
    margin-bottom: 12px;
}

.fitphoto {
    object-fit: cover;
    width: 100%;
    height: auto; 
}

.fontMedium {
    font-weight: 500;
    font-size: 18px;
}

.thirdSection {
    background-color: rgba(249, 250, 251, 0.815);
    padding-top: 3rem; 
    padding-bottom: 3rem;
}

.textAlign-Padding {
    text-align: center;
    padding: 20px; 
}

.iconAlign {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
}

.icon {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60px; 
    height: 60px; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.iconCustomize {
    color: rgb(37, 99, 235);
    font-size: 24px; 
}

.fontSemibold {
    font-weight: 600;
    font-size: 16px; 
    margin-bottom: 0.5rem;
}

.text-gray {
    color: rgb(75, 85, 99);
    margin: 0;
    padding: 0;
}

.fourthSection {
    padding-top: 3rem;
    padding-bottom: 3rem; 
    background-color: rgb(255, 255, 255);
}

.overflow {
    overflow-x: auto;
}

.table {
    background-color: rgb(255, 255, 255);
    border-radius: 8px; 
    overflow: hidden;
    min-width: 100%;
    border-color: grey;
    border-collapse: collapse;
}

.thead {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 41, 55);
}

.theadText {
    padding: 12px; 
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.tbody {
    color: rgb(55, 65, 81);
}

.tbodyText {
    padding: 12px; 
    border-color: rgb(229, 231, 235);
    border-bottom-width: 1px;
}

.green {
    font-weight: 500;
    color: rgb(22, 163, 74);
}

#disclaimer {
    font-size: 14px; 
    line-height: 1.5; 
    margin-top: 1rem;
}

.fifthSection {
    padding-top: 3rem;
    padding-bottom: 3rem; 
    background-color: rgb(249, 250, 251);
}

.button {
    gap: 1.5rem;
    display: grid;
}

.buttonContent {
    color: inherit;
    text-decoration: inherit;
    display: block;
    border-radius: 8px; 
    background-color: rgb(255, 255, 255);
    padding: 12px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#youtube {
    color: rgb(37, 99, 235);
    font-size: 32px; 
}

.sixthSection {
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    background-color: rgb(255, 255, 255);
}

.contactForm {
    background-color: rgb(249, 250, 251);
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.mb-4 {
    margin-bottom: 1rem;
}

.formLabel {
    margin-bottom: 0.5rem;
    display: block;
    color: rgb(55, 65, 81);
}

.formInputArea {
    padding: 10px; 
    border-color: rgb(224, 217, 217);
    border-width: 1px;
    border-radius: 4px; 
    width: 100%;
}

.squish {
    max-width: 672px;
}

.formSubmit {
    color: rgb(255, 255, 255);
    padding: 10px; 
    background-color: rgb(37, 99, 235);
    border-radius: 4px;
    width: 100%;
}

.footer {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px; 
    background-color: rgb(31, 41, 55);
}

.footerAlign {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.footerText {
    color: rgb(190, 190, 190);
    margin-left: 16px; 
}

.footerText:hover {
    color: white;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #000000;
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; 
    }

    .titulo {
        font-size: 36px; 

    .fontMedium {
        font-size: 16px; 
    }

    .fontSemibold {
        font-size: 14px; 
    }

    .formInputArea {
        padding: 8px; /* Ajuste para telas menores */
    }

        .formSubmit {
            padding: 8px; /* Ajuste para telas menores */
        }

    }
